<%- include('../partials/header'); %>
<%- include('../partials/header'); %>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro Aluno</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"></script>
</head>

<body>
  <main>
    <h1>Cadastre-se</h1>
    
    <p>Preencha os campos a seguir para que você possa se cadastrar em um curso ou vagas de emprego/estágio!</p>
    <form action="/cadastrar" method="post">
      <div class="form-group col-md-2">
        <label for="nome">Nome:</label>
        <input type="text" class="form-control" name="nome" placeholder="Informe seu nome completo" required>
      </div>
      <div class="form-group col-md-2">
        <label for="dataNascimento">Data de Nascimento:</label>
        <input type="date" class="form-control" name="data_nascimento" placeholder="Informe sua data de nascimento">
      </div>
      <div class="form-group col-md-2">
        <label for="telefone">Telefone:</label>
        <input type="tel" class="form-control" name="telefone" placeholder="(XX)XXXXX-XXXX">
      </div>
      <div class="form-group col-md-4">
        <label for="logradouro">Logradouro:</label>
        <input type="text" class="form-control" name="logradouro" placeholder="Informe o logradouro">
      </div>
      <div class="form-group col-md-1">
        <label for="numero">Número:</label>
        <input type="text" class="form-control" name="numero" placeholder="Número">
      </div>

      <!-- Campos adicionados -->
      <div class="form-group col-md-2">
        <label for="cidade">Cidade:</label>
        <input type="text" class="form-control" name="cidade" placeholder="Informe a cidade">
      </div>
      <div class="form-group col-md-2">
        <label for="UF">UF:</label>
        <input type="text" class="form-control" name="UF" placeholder="Informe o UF">
      </div>
      <div class="form-group col-md-2">
        <label for="pais">País:</label>
        <input type="text" class="form-control" name="pais" placeholder="Informe o país">
      </div>
      <div class="form-group col-md-2">
        <label for="pontoReferencia">Ponto de Referência:</label>
        <input type="text" class="form-control" name="ponto_referencia" placeholder="Informe o ponto de referência">
      </div>
      <div class="form-group col-md-2">
        <label for="areaAtuacao">Área de Atuação:</label>
        <input type="text" class="form-control" name="areaAtuacao" placeholder="Informe a área de atuação">
      </div>
      <div class="form-group col-md-2">
        <label for="experiencia">Experiência:</label>
        <textarea class="form-control" name="experiencia" rows="3"></textarea>
      </div>
      <div class="form-group col-md-2">
        <label for="habilidades">Habilidades:</label>
        <textarea class="form-control" name="habilidades" rows="3"></textarea>
      </div>
      <div class="form-group col-md-2">
        <label for="disponibilidade">Disponibilidade:</label>
        <input type="text" class="form-control" name="disponibilidade" placeholder="Informe a disponibilidade">
      </div>
      <div class="form-group col-md-2">
        <label for="unidadeProCrianca">Unidade Pro Criança:</label>
        <input type="text" class="form-control" name="unidade_pro_crianca" placeholder="Informe a unidade para criança">
      </div>
      <div class="form-group col-md-2">
        <label for="faixaEtaria">Faixa Etária:</label>
        <input type="text" class="form-control" name="faixa_etaria" placeholder="Informe a faixa etária">
      </div>
      <div class="form-group col-md-2">
        <label for="CEP">CEP:</label>
        <input type="text" class="form-control" name="CEP" placeholder="Informe o CEP" required>
      </div>
      <div class="form-group col-md-2">
        <label for="CPF">CPF:</label>
        <input type="text" class="form-control" name="CPF" placeholder="Informe o CPF" required>
      </div>
      <div class="form-group col-md-2">
        <label for="Bairro">Bairro:</label>
        <input type="text" class="form-control" name="Bairro" placeholder="Informe o Bairro" required>
      </div>

      <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
  </main>
</body>

</html>
<%- include('../partials/footer'); %>
